

<nav class="navbar">
  <div class="container-fluid">
    Browse it!
  </div>
</nav>


  <div>

  <video class = "local" width="420" height="340"  autoplay loop>
    <source src="video/ip_landing_video_350kbps.mp4"  type="video/mp4">
  </video>

  <div class="slogan">

  <h3>Save anything. Browse Anywhere.</h3>

  <a class="myButton" href="/signup" style="text-decoration :none" role="button">Sign Up</a>
  <a class="myButton" href="/login" style="text-decoration :none" role="button">Log In</a>
</div>
