<% if @articles.present? %>
  <% @articles.each do |article| %>
  <%= article.title %>, tags: <% article.tags.each do |tag|%> <%= tag.name%> <% end %>
  <% end %>
<% else %>
  <p>There are no articles containing the term(s) <%= params[:search] %>.</p>
<% end %>
<a href="/main">Try Again</a>
